{%- macro secret(content) %}
<div class="secret">
    {{ content | safe }}</div>
</div>
{% endmacro -%}

{%- macro secretToggle(content, label='') %}
<div class="secretToggle">
    {{ content | safe }}
    <label class="secretToggleLabel">
        <input type="checkbox" id="secretToggle">
        {{ label | safe }}</label>
</div>
{% endmacro -%}
