{%- macro sidebar(content, classes) %}
<aside class="{{ classes }}">
    {{ content | safe }}
</aside>
{% endmacro -%}

{%- macro sidebarRight(content, classes) %}
<div class="s-right {{ classes }}">
    {{ content | safe }}
</div>
{% endmacro -%}

{%- macro sidebarLeft(content, classes) %}
<div class="s-left {{ classes }}">
    {{ content | safe }}
</div>
{% endmacro -%}
