<footer>
    <div class="center" id="copyright">
        <p class="center">© 2021 - 2026 Your Name Here! Find me in /src/_includes/partials/copyrightFooter.njk - All Rights Reserved.</p>
    </div>
    {%- include "partials/madeWithTavernRumours.njk" -%}
</footer>
